# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Change $USERNAME with username of your database.
# Change $PASSWORD with password of your database.
# Change $HOST with your hostname or IP Address of your database.
# Change $DATABASE_NAME with your prefered database name. This database will contain generated table when you run the migrations file

DATABASE_URL="postgresql://$USERNAME:$PASSWORD@$HOST:$PORT/$DATABASE_NAME"