@tailwind base;
@tailwind components;
@tailwind utilities;


.leaflet-container {
    height: 100vh;
    width: 75vw;
}

.custom-icon__marker {
    margin-left: -5px;
    margin-top: -5px;
}

.custom-polyline__label {
    font-weight: bold;
    font-size: 1.1rem;
}

.custom-polyline__label span {
    display: none;
    width: 300px;
}
